.signupImg {
  width: 350px;
}

.signupLogoImg {
  height: 60px;
  padding: 10px;
}

.signup-page {
  background-color: #EEE2DC;
  height: 100vh;
  display: flex;
}

.signupForm {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 450px;
  border-radius: 50px;
  background-color: white;
  padding: 30px 0;
  margin: auto;
}

.signupInput {
  width: 200px;
  height: 20px;
  padding: 10px;
  border-radius: 5px;
  border: 2px solid #ff725e;
  outline: none;
  margin: 5px 0;
}

.signupForm button {
  margin-top: 10px;
}

.signupLoginSpan {
  font-weight: 700;
}

.signupLoginSpan:hover {
  color: #ff725e;
}

@media screen and (max-width: 600px) {
  .signupImg {
    width: 250px;
    margin-bottom: 10px;
  }

  .signupLogoImg {
    height: 45px;
  }

  .signupForm p {
    font-size: 12px;
    margin: 15px 0;
  }

  .signupForm {
    width: 320px;
    padding: 25px 0;
  }
}