.newListComponentDiv {
  display: flex;
  margin-top: 80px;
  flex-direction: column;
}

.newListBody {
  text-align: center;
  display: flex;
  flex-direction: column;
  width: 800px;
  margin: auto;
  margin-bottom: 100px;
}

.newListBody img {
  display: block;
  margin: auto;
}

.newListInput {
  width: 80%;
  height: auto;
  padding: 10px;
  border-radius: 5px;
  border: 2px solid #ff725e;
  outline: none;
  margin: 7px 0;
}

.newListCheckbox {
  padding: 10px 0;
}

.listLabelPadding {
  padding-top: 10px;
  ;
}

.selectNewListCategory {
  width: 83.33%;
  height: auto;
  padding: 10px 6px;
  border-radius: 5px;
  border: 2px solid #ff725e;
  outline: none;
  margin: 5px 0;
  color: gray;
}

.newListImg {
  width: 250px;
  height: auto;
}

.newListSetupandKeyContainer, .newListAddListItemsAndRender {
  display: flex;
  justify-content: space-between;
  padding: 30px;
}

.create-list-fields-position {
  display: flex;
  flex-direction: column;
}

.newListSetupContainer, .newListListItemsContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
}

.newListKeywordsContainer, .newListListContents {
  display: flex;
  flex-direction: column;
  width: 50%;
  list-style: none;
  border-radius: 5px;
  border: 2px solid #ff725e;
  height: auto;
  margin-top: 5px;
  overflow: scroll;
}

.newListListMap, .newListRenderListMap {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  font-size: 18px;
}

.newListRenderListMap li, .newListListMap li {
  padding: 5px;
}

.keywordSubtext {
  font-size: small;
}

.newListButtons {
  margin: 15px;
}

.newListSaveButton {
  display: block;
  margin: auto;
  margin-top: 10px;
  margin-bottom: 30px;
}

@media only screen and (max-width: 768px) {
  .newListSetupandKeyContainer, .newListAddListItemsAndRender {
    flex-direction: column;
  }

  .newListSetupContainer, .newListKeywordsContainer,
  .newListListContents, .newListListItemsContainer {
    width: 100%;
  }

  .newListSaveButton {
    margin-bottom: 20vh;
  }
}

.mapped-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 300px;
}

.edit-delete-item-buttons i {
  margin: 0 5px;
}

.edit-delete-item-buttons i:hover {
  color: #FF725E;
  font-size: 18px;
}

.edit-delete-item-buttons i:active {
  color: #CC5B4B;
}