.profile-component {
  margin: 80px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profile-component h2 {
  margin: 40px 0;
}

.userProfile h2 {
  margin: 10px 0 0 0;
}

.profile-list {
  display: flex;
  flex-direction: column;
  width: 180px;
  align-items: center;
  text-align: center;
  margin: 10px;
}

.profile-list img {
  width: 180px;
}

.empty-folder-profile-component {
  width: 180px;
}

.profile-list:hover {
  color: #FF725E;
}

.userProfile, .create {
  text-align: center;
}

.profile-saved-lists, .profile-progress-lists, .profile-completed-lists {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 800px;
}

.userTitle {
  text-align: center;
}

.Img {
  max-width: 180px;
  height: auto;
  margin-top: -25px;
}

.delete-personal-list-button {
  margin-bottom: -20px;
  height: 25px;
  display: flex;
  flex-direction: column;
  align-items: end;
  justify-content: center;
  cursor: pointer;
  padding-right: 15px;
}

.delete-personal-list-button i {
  color: #000000;
}

.delete-personal-list-button i:hover {
  color: #FF725E;
  font-size: 18px;
}

.delete-personal-list-button i:active {
  color: #CC5B4B;
}

@media screen and (max-width: 600px) {
  .profile-saved-lists, .profile-progress-lists, .profile-completed-lists {
    width: 350px;
  }

  .profile-list {
    width: 130px;
    margin: 20px;
  }

  .profile-list img {
    width: 130px;
  }

  .empty-folder-profile-component {
    width: 150px;
  }
}