.profile-component {
  margin: 70px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profile-component h2 {
  margin: 40px 0;
}

.userProfile h2 {
  margin: 10px 0 0 0;
}

.profile-list {
  display: flex;
  flex-direction: column;
  width: 180px;
  align-items: center;
  text-align: center;
  margin: 10px;
}

.profile-list:hover {
  color: #FF725E;
}

.userProfile, .create {
  text-align: center;
}

.profile-saved-lists {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 800px;
}

.Img {
  max-width: 230px;
  cursor: pointer;
}

.delete-personal-list-button {
  margin-bottom: -20px;
  height: 25px;
  display: flex;
  flex-direction: column;
  align-items: end;
  justify-content: center;
  cursor: pointer;
  padding-right: 15px;
}

.delete-personal-list-button i {
  color: #000000;
}

.delete-personal-list-button i:hover {
  color: #CC5B4B;
  font-size: 18px;
}

.delete-personal-list-button i:active {
  color: #FF725E;
}

/* .home {
  display: grid;
  grid-template-columns: repeat(2, 50%);
  grid-template-rows: repeat(4, 33.3%);
  padding: 35px;
} */

/* .prog,
.comp,
.save {
  display: grid;
  grid-template-columns: repeat(3, 33.3%);
  grid-template-rows: repeat(4, 33.3%);
  padding: 35px;
} */

/* 
h1 {
  font-size: 42px;
} */