.navBar {
  width: 100vw;
  display: flex;
  justify-content: space-between;
  align-content: center;
  position: fixed;
  top: 0;
}

.navbarSection {
  display: flex;
  flex-direction: column;
  /* display: block; */
  justify-content: flex-end;
  width: 25%;
}

.navBarLi {
  list-style: none;
}

.hideNavMenu {
  display: none;
}