.navBar {
  width: 100vw;
  height: 8vh;
  display: flex;
}

.navbarSection {
  width: 10vw;
  position: absolute;
  display: flex;
  flex-direction: column;
  margin-left: 1720px;
  text-align: center;
  font-size: 18px;
}

.burgerBtn {
  margin: 12px;
  display: flex;
  align-self: flex-end;
  width: 50px;
  height: auto;
}

.navBarLi {
  list-style: none;
  padding: 5px;
}

.hideNavMenu {
  display: none;
}

.navBarLogo {
  margin: 18px;
}