.category-component {
  margin-top: 80px;
  display: flex;
  align-items: center;
  flex-direction: column;
  /* height: 100vh; */
}

.category-all-items {
  width: 800px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-bottom: 70px;
}

.category-item {
  display: flex;
  flex-direction: column;
  width: 180px;
  align-items: center;
  text-align: center;
  margin: 10px;
}

.category-image {
  width: 180px;
}

@media screen and (max-width: 600px) {
  .category-all-items {
    width: 350px;
  }

  .category-item {
    width: 150px;
  }

  .category-image {
    width: 150px;
  }
}