.category-component {
  margin-top: 70px;
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 100vh;
}

.category-all-items {
  width: 800px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-bottom: 70px;
}

.category-item {
  display: flex;
  flex-direction: column;
  width: 180px;
  align-items: center;
  text-align: center;
  margin: 10px;
}

.category-image {
  width: 180px;
}