.about-us-component {
  margin: 70px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.about {
  width: 800px;
  text-align: center;
}

.aboutImg {
  width: 500px;
}

@media screen and (max-width: 600px) {
  .about {
    width: 300px;
  }

  .aboutImg {
    width: 280px;
  }
}