.home-component-body {
  margin: 80px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.category-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 800px;
}

.category-article {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px;
  cursor: pointer;
}

.Img {
  height: 180px;
}

@media screen and (max-width: 600px) {
  .category-list {
    width: 350px;
  }

  .Img {
    height: 150px;
  }
}

a:link {
  text-decoration: none;
  color: inherit;
}

a:visited {
  text-decoration: none;
  color: inherit;
}

a:hover {
  font-weight: bold;
}