.hideModal {
  display: none;
}

.imgSelect {
  padding: 5px;
  border: 2px solid #ff725e;
  border-radius: 5px;
  margin: 15px;
  display: grid;
  grid-template-columns: repeat(3, 33.33%);
}

.userImgSelected {
  width: 150px;
  height: auto;
  margin: 3px;
  cursor: pointer;
}

.edit-profile-title {
  margin-top: 90px;
}

.edit-profile-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 80px;
}

.change-profile-picture {
  width: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.editImg {
  width: 150px;
  height: 150px;
}

/* .edit-profile-p {
  margin-top: 20px;
  font-size: 14px;
  cursor: pointer;
  font-weight: bold;
} */

.edit-profile-input {
  border: none;
  border-radius: 5px;
  outline: none;
  width: 170px;
  padding-left: 5px;
}

.edit-profile-input:focus::placeholder {
  opacity: 0.3;
}

.form-size {
  margin-top: 30px;
  margin-bottom: 30px;
  width: 430px;
  display: flex;
  flex-direction: column;
}

.form-size p {
  display: flex;
  justify-content: space-between;
  font-size: 18px;
}

/* .form-size p i {
  margin: 1.5px;
  margin-left: -135px;
  cursor: pointer;
  align-self: flex-end;
  font-size: 14px;
} */

.changesBtnPosition {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.changesBtn {
  background-color: #ff725e;
  border: 2px solid #ff725e;
  border-radius: 6px;
  width: 175px;
  height: 55px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s;
  margin: 3px;
}

.changesBtn:hover {
  border: 2px solid #cc5b4b;
}

.userImgSelected {
  width: 150px;
  height: auto;
  margin: 3px;
  cursor: pointer;
  text-align: center;
}

.userImgSelected:hover {
  border-radius: 5px;
  background-color: #E8E8E8;
}

.imgSelectBtn {
  margin-top: 20px;
  background-color: #ff725e;
  border: 2px solid #ff725e;
  border-radius: 6px;
  width: 180px;
  height: 40px;
  text-align: center;
  text-decoration: none;
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s;
}

button.ant-btn.ant-btn-primary {
    background-color: #ff725e;
    border: 2px solid #ff725e;
    text-align: center;
    padding: 0;
    color: black;
}

@media only screen and (max-width: 768px) {
  .form-size {
    width: 100vw;
  }
}


