
.signupImg {
    width: 450px;
    height: auto;
  }

  .signupLogoImg {
    width: auto;
    height: 80px;
    padding: 20px;
  }

.signupTitle {
    text-align: center;
    padding: 20px;
}

.signup-page {
    background-color: #EEE2DC;
    text-align: center;

    
    display: flex;
    flex-direction: column;
    align-items: center;
}

.signupForm {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 10px 20px;
    margin-top: 5vh;
    margin-bottom: 5vh;
    border-radius: 50px;
    background-color: white;
    height: 100vh;
}

.signupInput {
    width: 200px;
    height: 20px;
    padding: 10px;
    border-radius: 5px;
    border: 2px solid #ff725e;
    outline: none;
    margin: 5px 0;
}
.signupLoginSpan {
font-weight: 700;
}

.signupLoginSpan:hover {
    color: #ff725e;
  }
