.loginImg {
    width: 450px;
    height: auto;
}

  .loginLogoImg {
    width: auto;
    height: 80px;
    padding: 20px;
  }

.loginBody {
    background-color: #EEE2DC;
    text-align: center;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.loginForm {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 10px 20px;
    margin-top: 5vh;
    margin-bottom: 5vh;
    border-radius: 50px;
    background-color: white;
    height: 100vh;
}

.loginInput {
    width: 200px;
    height: 20px;
    padding: 10px;
    border-radius: 5px;
    border: 2px solid #ff725e;
    outline: none;
    margin: 5px 0;
}

.loginLoginSpan {
    font-weight: 700;
    }
    
    .loginLoginSpan:hover {
        color: #ff725e;
      }