.loginImg {
  width: 350px;
}

.loginLogoImg {
  height: 60px;
  padding: 10px;
}

.loginBody {
  background-color: #EEE2DC;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loginForm {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 450px;
  border-radius: 50px;
  background-color: #FFFFFF;
  padding: 50px 0;
}

.loginInput {
  width: 200px;
  height: 20px;
  padding: 10px;
  border-radius: 5px;
  border: 2px solid #ff725e;
  outline: none;
  margin: 5px 0;
}

.loginLoginSpan {
  font-weight: 700;
}

.loginLoginSpan:hover {
  color: #ff725e;
}

.password-input i {
  font-size: 20px;
  margin-left: -30px;
  cursor: pointer;
}

.password-input input {
  margin-left: -10px;
  padding-right: 35px;
  width: 175px;
}

.password-input {
  display: flex;
  align-items: center;
}

.loginForm button {
  margin-top: 10px;
}

@media screen and (max-width: 600px) {
  .loginImg {
    width: 250px;
    margin-bottom: 10px;
  }

  .loginLogoImg {
    height: 45px;
  }

  .loginForm p {
    font-size: 12px;
    margin: 15px 0;
  }

  .loginForm {
    width: 320px;
  }
}