.settingsBody {
  background-color: #eee2dc;
  text-align: center;
  width: 100vw;
  height: 100vh;
}

.align {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 7vh;
}

button {
  border-radius: 6px;
  padding: 15px;
  width: 175px;
  font-family: "Comfortaa", arial;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  margin: 4px;
  cursor: pointer;
  transition: 0.3s;
}

button:hover {
  background-color: #ff725e;
  color: black;
}

.main {
  border: 2px solid #eee2dc;
  background-color: #ff725e;
}

.main:hover {
  border: 2px solid #cc5b4b;
}

.sub {
  border: 2px solid #eee2dc;
  background-color: #455a64;
  color: #eee2dc;
}

.sub:hover {
  background-color: #eee2dc;
  color: #455a64;
}

.delete {
  border-radius: 6px;
  width: 200px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  margin-top: 20px;
  cursor: pointer;
  transition: 0.3s;
  background-color: #ff725e;
  color: black;
  border: 2px solid black;
  font-weight: bold;
}

.delete:hover {
  color: black;
  background-color: #eee2dc;
}

.delConf {
  width: 500px;
  margin: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.delMain {
  border: 2px solid #ff725e;
  width: 200px;
}

.delMain:hover {
  border: 2px solid #cc5b4b;
}
