.image {
  height: auto;
  width: 80vw;
  max-width: 800px;

}

.ComingSoonBody {
    text-align: center;
    padding-top: 70px;
}

@media only screen and (max-width: 768px) {
  .ComingSoonBody {
    padding-top: 150px;
  }
}